.todoControl {
  width: 440px;
  margin: 140px auto 0 auto;
}

.logo {
  width: 40px;
  height: 32px;
}

.title {
  margin: 25px 0;
  font-family: MarkPro;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.filterControl {
  margin-top: 54px;
}

.show {
  font-family: MarkPro;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(31, 42, 75, 0.59);
}
